:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --main-background-color: #1e1e1e;
  --main-foreground-color: #f5f5dc;
  --secondary-background-color: #2c2c2c;
  --secondary-foreground-color: #f5deb3;
  --highlighted-foreground-color: #cdb48f;

  color-scheme: light dark;
  color: var(--main-foreground-color);
  background-color: var(--main-background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: var(--highlighted-foreground-color);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  margin: 0 0 0.4em 0;
  font-size: 3.2rem;
  line-height: 1.1;
  text-align: start;
}

.card {
  padding: 2em;
}

#app {
  margin: 0;
  text-align: center;
  flex: auto;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--secondary-background-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--highlighted-foreground-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-background-color: #fcf8ed;
    --main-foreground-color: #3a332a;
    --secondary-background-color: #e5e1d5;
    --secondary-foreground-color: #5c493c;
    --highlighted-foreground-color: #855e42;
  }
}
